{
  "presets": ["latest", "flow", "react"],
  "env": {
    "development": {
      "plugins": ["react-for-atom", "glamor/babel","syntax-object-rest-spread"]
    },
    "production": {
      "plugins": ["react-for-atom", "glamor/babel","syntax-object-rest-spread"]
    },
    "process": {
      "plugins": []
    }
  }
}
