{
  "presets": ["env", "react", "flow"],
  "env": {
    "development": {
      "plugins": ["react-for-atom","syntax-object-rest-spread","transform-do-expressions"]
    },
    "production": {
      "plugins": ["react-for-atom","syntax-object-rest-spread","transform-do-expressions"]
    },
    "jest": {
      "plugins": ["syntax-object-rest-spread","transform-do-expressions"]
    },
    "process": {
      "plugins": ["syntax-object-rest-spread","transform-do-expressions"]
    }
  }
}
