{
  "presets": ["es2015", "react"],
  "env": {
    "development": {
      "plugins": ["react-for-atom", "glamor/babel"],
    },
    "production": {
      "plugins": ["react-for-atom", "glamor/babel"],
    },
    "process": {
      "plugins": []
    }
  }
}
