// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "diagnostic-color";

@font-face {
  font-family: 'Inconsolata';
  src: url('atom://molecule-dev-environment/.storybook/public/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.molecule-dev-environment {

}

.dev-tool-bar-background-color {
background-color: @pane-item-border-color;
}

.text-color-highlight {
color: @text-color-selected;
}

.tool-name-background-color {
background-color: @background-color-selected;
}

.diagnostics-mode-selector {
background-color: @button-background-color-selected;
}

.target-background-color {
background-color: @button-background-color;
}

.stash-color {

}
